DATABASE_URL=postgresql://dev:dev@localhost:5432/band_session
AUTH_SECRET=your_auth_secret_here
AUTH_GOOGLE_ID=not_yet
AUTH_GOOGLE_SECRET=not_yet
RESEND_API_KEY=your_resend_api_key_here
RESEND_FROM_EMAIL=onboarding@resend.dev
HMAC_SECRET=your_hmac_secret_here
APP_ENV=develop # NODE_ENV(ビルド環境)とは別に、アプリケーションの実行環境を指定するための変数。 "develop"は開発環境(標準)、"production"は本番環境を示す。